
.vs/API Plugin/v17/ipch/AutoPCH/baedbf2640d43680/HOOKS.ipch
.vs/API Plugin/v17/ipch/AutoPCH/6354f8ae0ca3e67f/MAIN.ipch
.vs/API Plugin/v17/Browse.VC.db
.vs/API Plugin/v17/.suo
.vs/API Plugin/v17/Browse.VC.db
.vs/API Plugin/v17/.suo
